/**
 * fil: css/style.css
 **/
/* Variabler: genbruges og gør designvalg enkle */
:root {
  /* farver */
  --white: #ffffff;
  --graa: #2b2b2b;
  --hvid: #ECEBE4;
  --groen: #263526;
  /* fonte */
}

/* Her bruges en variabel: --blue */
body {

  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--graa);
  }

  .nav {
    background-color: var(--graa);
    color: var(--white);
    padding: 20px 0 20px 0;
    list-style: none;
    text-align: right;
  }

  .nav > li {
      display: inline-block;
      padding: 0 25px 0 25px;
      font-size: 24px;
      font-family: 'Raleway', sans-serif;
  }

  .nav > li > a {
    text-decoration: none;
    color: var(--hvid);
}

  .nav > li > a:hover {
    color: #c1c1c1;
  }
  .logo{
    float: left;

  }

/* Layout */

.banner{
  width: 100%;
  display: block;
}

.banner > .banner-image{
  width: 100%;
  display
}


#aaa{
  background-color: var(--groen);
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
  margin: 5px;
}




@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}



.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  position: relative;
  box-sizing: border-box;
  padding: 0 5px;

}

.column .overlay {
  position: absolute;
  text-align: center;
  color: var(--hvid);
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


#bbb{
  text-align: center;
  color: var(--hvid);
  font-size: 18px;
 border: 5px solid;
 border-color: var(--hvid);
 padding: 50px;
 margin: 20px;
 font-family: 'Raleway', sans-serif;
}

.column2 {
  float: left;
  width: 50%;
  font-family: 'Raleway', sans-serif;
}

/* Typografi */
h1{
  text-align: center;
  color: var(--hvid);
  font-size: 42px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h2 {
  border-bottom: 2px solid var(--hvid);
}

footer{
  color: var(--hvid);
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}
