/**
 * fil: css/style.css
 **/
/* Variabler: genbruges og gør designvalg enkle */
:root {
  /* farver */
  --graa: #2b2b2b;
  --hvid: #ECEBE4;
  --groen: #263526;
  --cremehvid: #d4cdc5;
  --orange: #DC851F;
}
  /* fonte */
/*
font-family: 'Raleway', sans-serif;
*/


/* Her bruges en variabel: --blue */
body {
  background-color: var(--graa);
  color: var(--hvid);
width: 100%;
height: 100%;
}

#forside {
background-image: url(../images/kage.png);
background-repeat: repeat-x;
width: 100%;
height: 700px;
background-size: 100%;
background-position: center;
background-size: cover;
font-family: 'Raleway', sans-serif;
}
/* header (nav) */

nav {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


nav ul img {
  float: left;
}

nav ul li a {
  color: var(--hvid);
  float: right;
  margin-right: 5%;
  display: block;
  /* fjerner linjen under links */
  text-decoration: none;
  font-size: 19px;
  }


header ul {
  width: 100%;
  height: 75px;
  list-style-type: none;
  margin: 0px;
}

/* tekst på billede(header div) */

header div {
  width: 660px;
  margin: 0 auto;
  padding: 110px;
}

header div p {
  text-align: center;
  font-size: 25px
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.bestil_her {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


#aaa {
  background-color: var(--groen);
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

#bbb {
  background-image: url(../images/kage.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}

.bbb {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

#ccc {
  margin: 0 auto;
}

.tekst {
  float: right;
  width: 650px;
  height: 401px;
  padding-top: 10%;
  padding-left: 50px;
  padding-right: 50px;

}

/* Clear floats after the columns */
.billede:after {
  display: table;
  clear: both;
}

.billede {
  width: 650px;
  height: 401px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#ddd {
  background-image: url(../images/haanvaerk.jpg);
  background-repeat: repeat-x;
  width: 100%;
  height: 600px;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  padding: 10px;
}


.haandvaerket {
  margin-top: 100px;
  margin-left: 600px;
  margin-right: 600px;
  width: 300px;
}

#eee {
  background-color: var(--hvid);
  color: var(--graa);
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

#fff {
  background-image: url(../images/kage.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}
/* Typografi */
h1 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }

  h2{
    color: var(--hvid);
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

/* footer */
.logo_footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  font-family: 'Raleway', sans-serif;
  color: var(--hvid);
  /* fjerner linjen under links */
  text-decoration: none;
  width: 100%;
  height: 75px;
  list-style-type: none;
}


footer nav ul {
  list-style-type: none;
  text-align: center;
}

.idk {
  margin: 0 auto;
  width: 400px;
}

.menu {
padding-left: 10%;
padding-right: 10%;
}
